{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
  </head>
<!--   <a  href="user"> Monthly Analysis</a>-->
<form action="user">
    <input type="submit">
</form>
  <form action="date">
    <input type="submit">
</form>

<body>
         <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Transactions History</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </th>
                            <th> Date </th>
                            <th> Transaction type </th>
                            <th> Debited from </th>
                            <th> Credited to </th>
                            <th> Amount </th>
                            <th> CategoryY </th>
                            <th> Transcation Message </th>
                            <th> ID </th>
                          </tr>
                        </thead>
                        {% for i in set %}
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check form-check-muted m-0">
                                <label class="form-check-label">
                                  <input type="checkbox" class="form-check-input">
                                </label>
                              </div>
                            </td>
                            <td> {{i.date}} </td>
                            <td>
                             {% if i.type == 'Sent'  %}
                              <div class="badge badge-outline-warning">{{i.type }}</div>
                             {% else  %}
                              <div class="badge badge-outline-success">{{i.type }}</div>
                               {% endif  %}
                            </td>
                            <td > {{i.sentFrom}} </td>
                            <td>  {{i.sentTo}} </td>
                            <td> {{i.amount}} </td>
                            <td> {{i.primaryCat}}  </td>
                            <td> {{i.message}} </td>
                            <td> {{i.id}} </td>

                        </tbody>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>


</body>
</html>