{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Daily Expenses Manager</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon_money.png' %}" />
  </head>
  <body>

        <!-- partial -->
<!--        <div class="main-panel">-->

  <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-1 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
<!--                        <h6 class="mb-1">select custom dates !</h6>-->
                            <form action="/transactionAnalysis/">

                            <input  type="date"  name="fdate"  value = {{selected_date.from_date}} >

                            <input   type="date"  name="tdate"  value = {{selected_date.to_date}}>
                            <input type="submit" value="Submit">
                   </form>

                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">UserName : {{user.username}}</h6>



                                                      </div>

      <a class="nav-link" href="/Logout/">
              <span class="menu-icon">
                <i class="mdi mdi-logout"></i>
              </span>
              <span class="menu-title">Logout</span>
            </a>
                                                    </div>

          <div class="content-wrapper">

            <div class="row">
              <div class="card-body py-0 px-0 px-sm-3">
                    <div class="row align-items-center">

                      <div class="col-4 col-sm-3 col-xl-2">
                      </div>
                      <div class="col-5 col-sm-7 col-xl-8 p-0">
                      </div>
                      <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                        <span>

                        </span>

                    </div>
                  </div>
                </div>

            </div>
            <div class="row">
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">

                            {% for i in  monthlydata %}
                            {% if i.type == 'Sent' %}
                          <h3 class="mb-0">₹ {{ i.total_amount  }} </h3>
                          <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                            {% endif %}
                            {% endfor %}
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success ">
                          <span class="mdi mdi-arrow-top-right icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-primary ml-2 mb-0 font-weight-medium">Total Spent Current Month</h6>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-9">
                        <div class="d-flex align-items-center align-self-start">
                            {% for i in  monthlydata %}
                            {% if i.type == 'Received' %}
                          <h3 class="mb-0"> ₹ {{ i.total_amount  }} </h3>
                             {% endif %}
                            {% endfor %}
                          <p class="text-success ml-2 mb-0 font-weight-medium"></p>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="icon icon-box-success">
                          <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                        </div>
                      </div>
                    </div>
                    <h6 class="text-primary ml-2 mb-0 font-weight-medium">Total Received Current Month</h6>

                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                        <div class="d-flex align-items-center align-self-start">
                            {% for i in  category_data %}
                            {% if i.primaryCat == 'Others' %}
                            <h3 class="mb-0">₹ {{i.total_amount}}</h3>
                              <p class="text-info ml-2 mb-0 font-weight-medium">Uncategorized</p>

                            {% endif %}
                            {% endfor %}
                        </div>
                      <div><h2 ></h2></div>
                      <div class="d-flex align-items-center align-self-start">
                            {% for i in  category_data %}
                            {% if i.primaryCat == 'Debt' %}
                          <br>
                            <h3 class="mb-0">₹ {{i.total_amount}}</h3>
                              <p class="text-info ml-2 mb-0 font-weight-medium">Debt ></p>

                            {% endif %}
                            {% endfor %}
                        </div>

                  </div>
                </div>
              </div>
       <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                        <div class="d-flex align-items-center align-self-start">
                            {% for i in ydata %}
                            {% if i.type == 'Sent' %}
                            <h3 class="mb-0">₹ {{i.total_amount}}</h3>
                              <p class="text-warning ml-2 mb-0 font-weight-medium">Yesterday spend</p>

                            {% endif %}
                            {% endfor %}
                        </div>
                      <div><h2 ></h2></div>
                      <div class="d-flex align-items-center align-self-start">
                            {% for i in  ydata %}
                            {% if i.type == 'Received' %}
                          <br>
                            <h3 class="mb-0">₹ {{i.total_amount}}</h3>
                              <p class="text-primary ml-2 mb-0 font-weight-medium">Yesterday Received </p>

                            {% endif %}
                            {% endfor %}
                        </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Last Five Transactions</h4>


<!--            <button  title="Click here for analysis" class = "mdi mdi-arrow-down-bold-hexagon-outline"></button>-->

                  {% for i in set1 %}
                    <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-1 px-4 px-md-3 px-xl-4 rounded mt-3">
                      <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">{{i.sentTo}}</h6>
                        <p class="text-muted mb-0">{{i.date}}</p>
                      </div>
                      <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">₹ {{ i.amount}}</h6>
                           <p class="text-muted mb-0">{{i.type}}</p>
                      </div>
                    </div>
                    {% endfor %}
   <a class="nav-link" href="/customtransaction/">
              <span class="menu-icon">
                <i class="mdi mdi-arrow-down-bold-hexagon-outline"></i>
              </span>
              <span class="menu-title">See all transactions</span>
            </a>
                  </div>
                </div>
              </div>
               <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Spending Category</h4>
                   <canvas id="myChart"></canvas>
                  </div>
                </div>
               </div>
            </div>


 <div class="col-lg-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Day wise Spending's Amount</h4>
                   <canvas id="myChart1"></canvas>
                  </div>
                </div>
     <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Day wise Received Amount</h4>
                   <canvas id="myChart2"></canvas>
                  </div>
                </div>
               </div>

   </div>






<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{ cat|safe }},
      datasets: [{
        label: 'Money Spent',
        data:{{ catVal|safe }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const ctx1 = document.getElementById('myChart1');
   new Chart(ctx1, {
    type: 'line',
    data: {
      labels: {{ days|safe }},
      datasets: [{
        label: 'Money Spent',
        data:{{ day_spent|safe }},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

    const ctx2 = document.getElementById('myChart2');
   new Chart(ctx2, {
    type: 'line',
    data: {
      labels: {{ dayr|safe }},
      datasets: [{
        label: 'Money Received',
        data:{{ day_recv|safe }},
        borderWidth: 1


      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
