<style>
table, th, td {
  border: 1px solid black;
}
</style>



<table style="width:70%" >
  <tr>
    <th>date</th>
    <th>type</th>
    <th>amount</th>
    <th>sentFrom</th>
    <th>sentTo</th>
    <th>Category</th>

  </tr>
{% for i in queryset %}
  <tr>
    <td> {{ i.date }}</td>
    <td>{{ i.type }}</td>
    <td>{{ i.amount }}</td>
     <td> {{ i.sentFrom }}</td>
    <td>{{ i.sentTo }}</td>
    <td>{{ i.primaryCat }}</td>
  </tr>
{% endfor %}

</table>

<table style="width:70%" >
  <tr>
    <th>primaryCat</th>
    <th>total_amount</th>

  </tr>
{% for i in set %}
  <tr>
    <td> {{ i.primaryCat }}</td>
    <td>{{ i.total_amount }}</td>

  </tr>
{% endfor %}
</table>
<form action="date" >
  Give Date <input type="date"  name="dateF">
  <input type="submit">
</form>
<button type="submit" action = "news">

{{ set.0.primaryCat}}<br>
--------------------------<br>

{% for i in set %}
<br> {{i.primaryCat}}   ,  {{i.total_amount}}  <br>
{% endfor %}

---------------------------
<html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<body>
<div
id="myChart" style="width:100%; max-width:600px; height:500px;">
</div>

<script>
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
var data = google.visualization.arrayToDataTable([
  ['Contry', 'Mhl'],
 {% for i in set %}

[ ' {{i.primaryCat}} '  ,  {{i.total_amount}}  ],

{% endfor %}
]);

var options = {
  title:'Monthly data'
};

var chart = new google.visualization.PieChart(document.getElementById('myChart'));
  chart.draw(data, options);
}
</script>

</body>
</html>



