



body{

background-color: #171717;
color: #2187e7;
cursor : pointer;

}


.main{

display:table;
height : 100vh;
width : 100%;


}

.myCircle{
display: table-cell;
vertical-align:middle;


}


.mainCircle{

position:relative;
top:0;
height:300px;
width:300px;
margin:auto;


}


.mainContent{
position:absolute;
top:0;
height:100%;
width:100%;
border-radius:50%;

}




.circle{

background-color:rgba(0,0,0,0);
opacity:9;
height:300px;
width:300px;
margin-top: 0 auto;
box-shadow: 0 0 75px #FF5F1F;
border-radius:300px;
animation: spinplus 2s infinite ease-in-out;

}


@keyframes spinplus{

0%{
transform: scale(1);
}70%{
transform: scale(0.9);
}100%{
transform: scale(1);

}
}

.circle1{

background-color:rgba(0,0,0,0);
border: 5px solid #FF5F1F;
margin: 0 auto;
position:absolute;
top:20px;
left:20px;
height: 250px;
width: 250px;
border-radius:250px;
border-left : 5px solid rgba(0,0,0,0);
border-right : 5px solid rgba(0,0,0,0);
box-shadow: 0px 0px 50px #FF5F1F;


}


@keyframes spinplusoff {
0%{
	transform:rotate(0deg) scale(1);
}
10%{
	transform:rotate(90deg) ;
}
20%{
	transform:rotate(-90deg) scale(1);
}
40%{
	transform:rotate(180deg);
}
70%{
	transform:rotate(-180deg) scale(1);
}
100%{
	transform:rotate(0deg) scale(1);
}

}



.bars{

postiton : fixed;
z-index : 3;
margin: 0 auto;
left:0;
right:0;
top:50%;
width:60px;
height:60px;
margin-top : 125px;
margin-left : 90px;

}


li{
background : #FF5F1F;
width : 10px;
height:10px;
float: left;
margin-right: 5px;
box-shadow: 0 10px 20px rgba(0,0,0,0.2);

}


@keyframes loaderbar {
0%{
	height : 10px ;
	margin-top:25px;
}
50%{
	height : 50px ;
	margin-top:0;
}
100%{
	height : 10px ;
	margin-top:25px;
}

}























